
.bg-Primary { background-color: #836ABC; }
.bg-Junior { background-color: #4B67B2; }
.bg-Senior { background-color: #288E93; }

div#passages {
  transition: opacity 0.35s ease-in-out;
}

div#passages > div.card {
  max-width: 40rem;
}

p.card-text {
  text-align: justify;
  text-justify: inter-word;
}

abbr:has(button) {
  text-decoration: none !important;
  cursor: inherit !important;
  border-bottom: none !important;
}

span.verse-word, span.verse-number {
  cursor: default !important;
}

span.word-error {
  text-decoration: orangered wavy underline !important;
}

span.word-warning {
  background-color: var(--bs-warning-bg-subtle) !important;
}

div.card-passed div.card-header, div.card-passed div.card-footer {
  background-color: var(--bs-danger-bg-subtle) !important;
}

div.card-completed div.card-header, div.card-completed div.card-footer {
  background-color: var(--bs-success-bg-subtle) !important;
}
