input.wpm {
    width: 4em !important;
}

div.container-fluid {
    margin: 20px 10px;
}

div.container-fluid > div {
    max-width: 600px;
}

#generator {
    max-width: 300px;
}

#passages {
    padding: 20px 0;
}

#passages > div {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 8px;
    padding: 8px 8px 0 8px;
    margin-top: 40px;
    position: relative;
}

.passage {
    page-break-inside: avoid;
}

.passage p, .passage span {
    cursor: crosshair;
}

.passage span.has-error {
    color: #a94442;
    background-color: #f2dede;
    text-decoration: underline;
}

div.reference-top {
    font-weight: bold;
    margin-bottom: 1em;
}

div.reference-bottom {
    margin-top: 1em;
}

div.reference-bottom a {
    float: right;
}

.number {
    border-radius: 15%;
    font-size: 1.25em;
    width: 2em;
    text-align: center;
    float: right;
}

@media screen {
    body {
        padding-bottom: 50vh;
    }
}

@media print {
    #generator {
        display: none;
    }

    .passage {
        padding: 0;
    }

    div.reference-bottom a {
        display: none;
    }
}
