
.bg-Primary { background-color: #836ABC; }
.bg-Junior { background-color: #4B67B2; }
.bg-Senior { background-color: #288E93; }

div#passages {
  transition: opacity 0.35s ease-in-out;
}

div#passages > div.card {
  max-width: 40rem;
}

p.card-text {
  text-align: justify;
  text-justify: inter-word;
}

abbr:has(button) {
  text-decoration: none !important;
  cursor: inherit !important;
  border-bottom: none !important;
}

/* TODO: clean this up after deciding on icons */
svg.bi-escape path, svg.bi-arrow-counterclockwise path, svg.bi-backspace path {
  stroke: currentColor;
  stroke-width: 1px;
}

span.verse-word, span.verse-number {
  cursor: default !important;
}

span.word-error {
  text-decoration: orangered wavy underline !important;
}

span.word-warning {
  background-color: var(--bs-warning-bg-subtle) !important;
}